.App {
  text-align: center;
  margin: 2rem;
}


.ContainerFoodBox{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap:2rem;
  justify-content: center;
  align-items: center;
}

.ContainerFoodBox button{


  border: none;
  padding: .7rem 1.4rem;
  border-radius: 4px;
  background-color: #1890FF;
  color: #fff;
  font-size: 15px;
  font-weight: bold;
  cursor: pointer;
}


.ContainerFoodBox button:hover{


  background-color: #127fe5;

}